<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Rikkei Academy</title>
  </head>

  <body>
    <div>
      <h1><%= title %></h1>
      <a href="/contacts/new">Thêm mới</a>
      <table>
        <thead>
          <th>ID</th>
          <th>Tên đăng nhập</th>
          <th>Email</th>
          <th>Hành động</th>
        </thead>
        <tbody>
          <% for (let contact of contacts) { %>
          <tr>
            <td><%= contact.id %></td>
            <td><%= contact.contactname %></td>
            <td><%= contact.email %></td>
            <td>
              <a href="/contacts/<%= contact.id %>/edit">Sửa</a>
              <form
                action="/contacts/<%= contact.id %>?_method=DELETE"
                method="POST"
              >
                <button type="submit">Xóa</button>
              </form>
            </td>
          </tr>
          <% } %>
        </tbody>
      </table>
    </div>
  </body>
</html>
